.comments{
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: solid medium var(--comments-border);
  text-align: center;
  overflow: hidden;
  &__trigger{
    position: relative;
    z-index: 100;
    margin: 1rem 0 !important;
    cursor: pointer;
  }
  &__content{
    margin-top: 2.5rem;
    border-bottom: solid medium var(--comments-border);
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(.5,0,0,.99);
    overflow: hidden;
  }
  &__thread{
    transform: translateY(120%);
    transition: inherit;
  }
  &__animate{
    transform: none;
  }
}
