/*--------------------------------*\
  Global Rules/Namespace
\*--------------------------------*/
*{
  box-sizing: border-box;
  &:focus{
    outline-color: #555;
    outline-width: thin;
  }
}
::selection{
  background: #f0f0f0;
}
html{
  font-size: 62.5%;
}
body{
  padding: 5rem 3rem;
  @include breakpoint(471px){
    padding: 6rem;
  }
  font-family: $font--primary;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background: $background;
  color: $text-color;
}
blockquote{
  position: relative;
  padding: 10px 40px;
  background: darken(#fff, 2%);
  border-left: solid 2px rgba($color-brand-2, .7);
  font-weight: 300;
  &::before{
    content: '“';
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 8rem;
    color: $color-brand-2;
  }
}
cite{
  display: block;
  &::before{
    content: '— ';
  }
}
a{
  color: $color-links;
  text-decoration: none;
  &:not(.no-uline){
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
    background-size: 0 .3rem;
    background-position: 0 1em;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out .1s;
    &:hover, &:focus{
      background-size: 100% .3rem;
    }
  }
}
input{
  font-family: inherit;
}

dfn, abbr{
  border-bottom: dotted 2px $color-brand-4;
  text-decoration: none;
}
b, strong{
  font-weight: 400;
}

code {
  padding: 1px 5px;
  border-radius: $inputs-border-radius;
  background-color: darken(#fff, 6%);
}

pre {
  padding: 0 12px;
  overflow: auto;
  font-size: 1.6rem;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    padding: 0;
    background-color: transparent;
  }
  &:not(.line-pre){
    padding: 0 1.2rem;
    background: linear-gradient(#2f2f2f 50%, darken(#2f2f2f, 5%) 0);
    background-size: 100% 60px;
    border-radius: $inputs-border-radius;
    line-height: 30px;
    font-size: .8em;
    color: #ddd;
  }
}
.wrap{
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 20px;
}
.icon{
  fill: currentColor;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}
.logo{
  width: 5rem;
  height: 5rem;
}
