.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__right{
    text-align: right;
  }
  &__navigation{
    font-size: 1.8rem;
    a{
      display: inline-block;
      &::before, &::after{
        display: inline-block;
        opacity: 0;
        transition: transform .3s, opacity .2s;
      }
      &::before{
        content: '[';
        margin-right: 1rem;
        transform: translate(2rem);
      }
      &::after{
        content: ']';
        margin-left: 1rem;
        transform: translate(-2rem);
      }
      &:hover, &:focus{
        &::before, &::after{
          opacity: 1;
          transform: translate(0);
        }
      }
    }
    :last-child{
      margin-left: 2rem;
    }
  }
}
