.post{
  &__header{
    margin: 10rem 0;
    text-align: center;
    opacity: 0;
    animation: fadein .5s ease-in forwards;
    p{
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
  &__title{
    margin-bottom: 3rem;
  }
  &__footer, &__actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__actions{
    margin: 5rem 0;
    font-size: 1.4rem;
  }
  &__sharelinks a{
    margin-left: 1rem;
  }
  main{
    font-size: 1.8rem;
    transform: translateY(30rem);
    animation: slideup .6s ease-in forwards;
  }
  article p{
    margin: 3rem 0;
  }
}
