@keyframes reveal{
  0%{
    opacity: 0;
    transform: skewX(-15deg);
  }
  100%{
    opacity: 1;
    transform: skewY(0deg);
  }
}
@keyframes slideup{
  0%{
    opacity: 0;
    transform: translateY(30rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
