$site-width: 1000px !default;
$color-brand-1: #2c4f73;
$color-brand-2: #b30950;
$color-brand-3: #192740;
$color-brand-4: #90136f;
$background: none;
$text-color: #222;
$color-links: #555;
$inputs-border-radius: 4px;
$font--primary: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font--secondary: 'Roboto', sans-serif !default;

