{{ define "main" }}

<div class="portfolio">

  {{ partial "intro.html" . }}

  <div class="portfolio__works">
    {{ partial "section-navigation" . }}
    <div class="portfolio__showcase">
      <div class="portfolio__links">
        <h6>
          <a href="https://x-team.com/blog/author/joseph" rel="noopener" class="no-uline">Articles on X-Team</a>
        </h6>
        <h6>
          <a href="http://resources.infosecinstitute.com/author/joseph-rex" rel="noopener" class="no-uline">Articles on Infosec Institute</a>
        </h6>
      </div>
    </div>
  </div>

</div>

{{ end }}
