.form{
  margin: 1rem 0;
  * { outline: none; }
  &__input{
    width: 100%;
    max-width: 22rem;
    height: 3rem;
    padding: .5rem 1rem;
    border: solid thin currentColor;
    border-radius: $inputs-border-radius;
    background: transparent;
  }
}
button{
  vertical-align: top;
  height: 3rem;
  margin-left: -1.2rem;
  padding: .5rem 1rem;
  border: solid thin #000;
  border-radius: 0;
  background: #000;
  color: white;
  line-height: 1;
  .dark-theme &{
    border-color: #fff;
    background: #fff;
    color: #000;
  }
}
::-webkit-input-placeholder{
  color: rgba(#000, .3);
  .dark-theme &{
    color: rgba(#fff, .3);
  }
}
::placeholder{
  color: rgba(#000, .3);
}
::-moz-placeholder{
  color: rgba(#000, .3);
}
:-ms-input-placeholder{
  color: rgba(#000, .3);
}
