.form{
  margin: 1rem 0;
  * { outline: none; }
  &__input{
    width: 100%;
    max-width: 22rem;
    height: 3rem;
    padding: .5rem 1rem;
    border: solid thin currentColor;
    border-radius: $inputs-border-radius;
    background: transparent;
  }
}
button{
  vertical-align: top;
  height: 3rem;
  margin-left: -1.2rem;
  padding: .5rem 1rem;
  border: solid thin var(--form-button-border);
  border-radius: 0;
  background: var(--form-button-bg);
  color: var(--form-button-text);
  line-height: 1;
}
::-webkit-input-placeholder{
  color: var(--form-placeholder-text);
}
::placeholder{
  color: var(--form-placeholder-text);
}
::-moz-placeholder{
  color: var(--form-placeholder-text);
}
:-ms-input-placeholder{
  color: var(--form-placeholder-text);
}
