.tags{
  a{
    display: inline-block;
    position: relative;
    margin-bottom: .5rem;
    padding: .2rem .6rem;
    background: #444;
    color: #fff !important;
    &:hover{
      background: #000;
    }
  }
}
