{{ define "main" }}

<div class="portfolio">

  <div class="portfolio__intro">
    <h1>I am Joseph Rex, <br>a creative technologist and AI enthusiast</h1>
    <h5 class="light-type">Animation, Design, Writing, AI, ML, Bots, CSS, JavaScript, Ruby, Git, Vim, 3D, XR</h5>
  </div>

  <div class="portfolio__works">
    <nav class="portfolio__nav">
      <h3><a href="/" class="is-active-portfolio">Articles</a></h3>
      <h3><a href="/design">Design</a></h3>
      <h3><a href="/oss">Open Source</a></h3>
    </nav>
    <div class="portfolio__showcase">
      {{ range where .Paginator.Pages "Section" "post" }}
      <div class="portfolio__item">
        <h4><a href="{{ .URL }}">{{ .LinkTitle }}</a></h4>
        {{ .Summary }}
        <p>
        <small><a href="{{ .URL }}">Read more ››</a></small>
        </p>
      </div>
      {{ end }}
      <div class="portfolio__links">
        <h6>
          <a href="https://x-team.com/blog/author/joseph" rel="noopener" class="no-uline">Articles on X-Team</a>
        </h6>
        <h6>
          <a href="http://resources.infosecinstitute.com/author/joseph-rex" rel="noopener" class="no-uline">Articles on Infosec Institute</a>
        </h6>
      </div>
      <div class="portfolio__links u-txtright">
        <div class="paginate" aria-label="pagination">
          {{ if .Paginator.HasPrev }}
            <a href="{{.Paginator.Prev.URL}}" class="paginate__previous">&lsaquo;</a>
          {{ else }}
            <span class="paginate__previous" aria-disabled="true">&lsaquo;</span>
          {{ end }}
          {{ if .Paginator.HasNext }}
            <a href="{{.Paginator.Next.URL}}" class="paginate__next">&rsaquo;</a>
          {{ else }}
            <span class="paginate__next" aria-disabled="true">&rsaquo;</span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

</div>

{{ end }}
